<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div role="list">
  <app-comp 
    *ngFor="let drv of vozaci; index as i; first as prv; last as posleden; odd as nepar; even as par"
    [vozac]="drv" (click)="onAppView()"
    [vozac]="drv"
    [indeks]="i+1"
    [class.is-first]="prv"
    [class.is-last]="posleden"
    [class.is-even]="par"
    [class.is-odd]="nepar"
    role="listitem"
    [attr.aria-label]="'Driver: ' + drv?.name + ', Index: ' + (i+1)">
  </app-comp>
</div>


